<ion-view view-title="Cards">
  <ion-content>
	 <section id="splashscreen">
		<img src="/css/logo.svg">
	 </section><!-- /#splashscreen -->

	 <section id="infosplash">
		<p>Verrate uns deinen Clubgeschmack mit einem Tip auf die Bilder, die dich am meisten ansprechen.</p>
		<button id="go" ng-click="fadeOut()">Go</button>
	 </section><!-- /#infosplash -->
	 
	 <section id="kaltstart">
		<div id="or"><span>OR</span></div>

		<div id="divideLeft"></div><!-- /#divideLeft -->
		<div id="divideRight"></div><!-- /#divideRight -->
		<div class="clubImg" id="{{element.id}}" data-src="{{element.src}}" style="background-image:url({{element.src}});" ng-click="imageHandler(element)" ng-repeat="element in dataToDisplay"></div>
			<!-- <div class="clubImg" id="bottom" style="background-image:url(/img/club2.jpg);" ng-click="imageHandler(this)"></div> -->

	 </section>
  </ion-content>
</ion-view>