<!DOCTYPE html>
<html ng-app="dummy">
    <head>
        <title>Testdummy: Datenbank f&uuml;ller</title>
        <link rel="stylesheet" href="./styles/all.css" type="text/css" />
        <link rel="stylesheet" href="./styles/main.css" type="text/css" />
    </head>
    <body>
        <header>
            <div class="weights">
                <input type="radio" name="amount" id="one" value="1" checked><label for="one">1</label>
                <input type="radio" name="amount" id="ten" value="10"><label for="ten">10</label>
                <input type="radio" name="amount" id="fifty" value="50"><label for="fifty">50</label>
            </div>
            <div class="legende">
                <p class="wasted">Heruntergekommen </p>
                <p class="upperclass">Edel</p>
                <p class="special">Ausgefallen</p>
                <p class="mainstream">Mainstream</p>
                <p class="comfortable">Gem&uuml;tlich</p>
                <p class="size">Gro&szlig;</p>
            </div>
        </header>
        <div id="main" ng-controller="AppCtrl">
            <ul class="user">
                <li ng-repeat="user in users" ng-click="$parent.chosen=$index" id="{{user._id}}" ng-class="{active:$parent.chosen==$index}">
                    <div class="wasted" style="height:{{user.heruntergekommen}}px"></div>
                    <div class="upperclass" style="height:{{user.edel}}px"></div>
                    <div class="special" style="height:{{user.ausgefallen}}px"></div>
                    <div class="mainstream" style="height:{{user.mainstream}}px"></div>
                    <div class="comfortable" style="height:{{user.gemuetlichkeit}}px"></div>
                    <div class="size" style="height:{{user.groesse}}px"></div>
                    <h4>{{user.name}}</h4>
                </li>
            </ul>
            <ul class="clubs">
                <li ng-click="buildData()" ng-repeat="club in clubs" id="{{club._id}}">
                    <div class="wasted" style="height:{{club.heruntergekommen}}px"></div>
                    <div class="upperclass" style="height:{{club.edel}}px"></div>
                    <div class="special" style="height:{{club.ausgefallen}}px"></div>
                    <div class="mainstream" style="height:{{club.mainstream}}px"></div>
                    <div class="comfortable" style="height:{{club.gemuetlichkeit}}px"></div>
                    <div class="size" style="height:{{club.groesse}}px"></div>
                    <h4>{{club.name}}</h4>
                </li>
            </ul>
        </div>

    <script type="text/javascript" src="js/core/jquery.js"></script>
    <script type="text/javascript" src="js/core/angular.min.js"></script>
	<script type="text/javascript" src="js/custom/dummy.js"></script>
</body>
</html>